.top-half{
  margin: 1px solid red;
}

.bottom-half{
  margin:1 px solid blue;
  width: 25%;
}

.thumbnails {
  padding: 25px;
  height: 75px;
  width: 75px;
}

.hidden {
  display: none;
}

.nextpage-button{
 height: 75px;
 width: 75px;
}

.prevpage-button{
  height: 75px;
  width: 75px;
}